.tarjeta-personaje-raiz {
  border-radius: 0.5rem !important;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out !important;
  margin: 1rem;
}

.tarjeta-personaje-raiz:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.4) !important;
}

@media (max-width: 600px) {
  .tarjeta-personaje-raiz {
    max-width: 100% !important;
    margin: 1rem 0;
  }
}
